/gainhistory/
/venv/
/darkcurrent.sqlite
/noisegain.sqlite
/darkhistory/
/build/
/dist/
/.idea/
/lcocommissioning.egg-info/
definedb.sh
lcocommissioning/__pycache__/__init__.cpython-37.pyc
lcocommissioning/__pycache__/__init__.cpython-38.pyc
lcocommissioning/__pycache__/__init__.cpython-39.pyc
lcocommissioning/__pycache__/__init__.cpython-310.pyc
lcocommissioning/__pycache__/__init__.cpython-311.pyc
lcocommissioning/__pycache__/ef_focuscalibration.cpython-37.pyc
lcocommissioning/__pycache__/ef_focuscalibration.cpython-38.pyc
lcocommissioning/__pycache__/focuscurve.cpython-37.pyc
lcocommissioning/__pycache__/focusmap.cpython-38.pyc
lcocommissioning/__pycache__/gaiaastrometryservicetools.cpython-37.pyc
lcocommissioning/__pycache__/gaiaastrometryservicetools.cpython-38.pyc
lcocommissioning/__pycache__/gaiaastrometryservicetools.cpython-310.pyc
lcocommissioning/__pycache__/gaiaastrometryservicetools.cpython-311.pyc
lcocommissioning/__pycache__/noisegainrawmef.cpython-37.pyc
lcocommissioning/__pycache__/noisegainrawmef.cpython-38.pyc
lcocommissioning/__pycache__/noisegainrawmef.cpython-39.pyc
lcocommissioning/__pycache__/noisegainrawmef.cpython-310.pyc
lcocommissioning/__pycache__/noisegainrawmef.cpython-311.pyc
lcocommissioning/__pycache__/submitXtalkObservation.cpython-37.pyc
lcocommissioning/__pycache__/submitXtalkObservation.cpython-38.pyc
lcocommissioning/__pycache__/submitXtalkObservation.cpython-39.pyc
lcocommissioning/__pycache__/submitXtalkObservation.cpython-310.pyc
lcocommissioning/__pycache__/submitXtalkObservation.cpython-311.pyc
lcocommissioning/cdk/__pycache__/elongation_assessment.cpython-311.pyc
lcocommissioning/cdk/__pycache__/submit_cdk_observation.cpython-39.pyc
lcocommissioning/cdk/__pycache__/submit_cdk_observation.cpython-310.pyc
lcocommissioning/cdk/__pycache__/submit_cdk_observation.cpython-311.pyc
lcocommissioning/common/__pycache__/__init__.cpython-37.pyc
lcocommissioning/common/__pycache__/__init__.cpython-38.pyc
lcocommissioning/common/__pycache__/__init__.cpython-39.pyc
lcocommissioning/common/__pycache__/__init__.cpython-310.pyc
lcocommissioning/common/__pycache__/__init__.cpython-311.pyc
lcocommissioning/common/__pycache__/ccd_noisegain.cpython-37.pyc
lcocommissioning/common/__pycache__/ccd_noisegain.cpython-38.pyc
lcocommissioning/common/__pycache__/ccd_noisegain.cpython-39.pyc
lcocommissioning/common/__pycache__/ccd_noisegain.cpython-310.pyc
lcocommissioning/common/__pycache__/ccd_noisegain.cpython-311.pyc
lcocommissioning/common/__pycache__/common.cpython-37.pyc
lcocommissioning/common/__pycache__/common.cpython-38.pyc
lcocommissioning/common/__pycache__/common.cpython-39.pyc
lcocommissioning/common/__pycache__/common.cpython-310.pyc
lcocommissioning/common/__pycache__/common.cpython-311.pyc
lcocommissioning/common/__pycache__/Image.cpython-37.pyc
lcocommissioning/common/__pycache__/Image.cpython-38.pyc
lcocommissioning/common/__pycache__/Image.cpython-39.pyc
lcocommissioning/common/__pycache__/Image.cpython-310.pyc
lcocommissioning/common/__pycache__/Image.cpython-311.pyc
lcocommissioning/common/__pycache__/lco_archive_utilities.cpython-37.pyc
lcocommissioning/common/__pycache__/lco_archive_utilities.cpython-38.pyc
lcocommissioning/common/__pycache__/lco_archive_utilities.cpython-39.pyc
lcocommissioning/common/__pycache__/lco_archive_utilities.cpython-310.pyc
lcocommissioning/common/__pycache__/lco_archive_utilities.cpython-311.pyc
lcocommissioning/common/__pycache__/muscatfocusdb_orm.cpython-310.pyc
lcocommissioning/common/__pycache__/noisegaindb_orm.cpython-37.pyc
lcocommissioning/common/__pycache__/noisegaindb_orm.cpython-38.pyc
lcocommissioning/common/__pycache__/noisegaindb_orm.cpython-39.pyc
lcocommissioning/common/__pycache__/noisegaindb_orm.cpython-310.pyc
lcocommissioning/common/__pycache__/noisegaindb_orm.cpython-311.pyc
lcocommissioning/common/__pycache__/noisegaindbinterface.cpython-37.pyc
lcocommissioning/common/__pycache__/SourceCatalogProvider.cpython-37.pyc
lcocommissioning/common/__pycache__/SourceCatalogProvider.cpython-38.pyc
lcocommissioning/common/__pycache__/SourceCatalogProvider.cpython-310.pyc
lcocommissioning/common/__pycache__/SourceCatalogProvider.cpython-311.pyc
lcocommissioning/common/__pycache__/statistics.cpython-37.pyc
lcocommissioning/darkhistory/darkcurrenthist-fa03.png
lcocommissioning/darkhistory/darkcurrenthist-fa04.png
lcocommissioning/darkhistory/darkcurrenthist-fa05.png
lcocommissioning/darkhistory/darkcurrenthist-fa07.png
lcocommissioning/darkhistory/darkcurrenthist-fa12.png
lcocommissioning/darkhistory/darkcurrenthist-fa14.png
lcocommissioning/darkhistory/darkcurrenthist-fa15.png
lcocommissioning/darkhistory/darkcurrenthist-fa16.png
lcocommissioning/darkhistory/darkcurrenthist-fs01.png
lcocommissioning/darkhistory/darkcurrenthist-fs02.png
lcocommissioning/darkhistory/darkcurrenthist-kb26.png
lcocommissioning/darkhistory/darkcurrenthist-kb27.png
lcocommissioning/darkhistory/darkcurrenthist-kb56.png
lcocommissioning/darkhistory/darkcurrenthist-kb81.png
lcocommissioning/darkhistory/darkcurrenthist-kb82.png
lcocommissioning/darkhistory/darkcurrenthist-kb84.png
lcocommissioning/darkhistory/darkcurrenthist-kb88.png
lcocommissioning/darkhistory/darkcurrenthist-kb97.png
lcocommissioning/darkhistory/darkcurrenthist-kb98.png
lcocommissioning/darkhistory/index.html
lcocommissioning/floyds/__pycache__/__init__.cpython-38.pyc
lcocommissioning/floyds/__pycache__/__init__.cpython-310.pyc
lcocommissioning/floyds/__pycache__/__init__.cpython-311.pyc
lcocommissioning/floyds/__pycache__/submitFloydsCalibration.cpython-38.pyc
lcocommissioning/floyds/__pycache__/submitFloydsObservation.cpython-38.pyc
lcocommissioning/floyds/__pycache__/submitFloydsObservation.cpython-310.pyc
lcocommissioning/floyds/__pycache__/submitFloydsObservation.cpython-311.pyc
lcocommissioning/focus/__pycache__/__init__.cpython-310.pyc
lcocommissioning/focus/__pycache__/__init__.cpython-311.pyc
lcocommissioning/focus/__pycache__/ef_focuscalibration.cpython-310.pyc
lcocommissioning/focus/__pycache__/ef_focuscalibration.cpython-311.pyc
lcocommissioning/focus/__pycache__/focustrends.cpython-310.pyc
lcocommissioning/focus/__pycache__/focustrends.cpython-311.pyc
lcocommissioning/muscat/__pycache__/muscat_focus.cpython-310.pyc
lcocommissioning/muscat/__pycache__/muscat_focus.cpython-311.pyc
lcocommissioning/muscat/__pycache__/submitMuscatObservation.cpython-38.pyc
lcocommissioning/muscat/__pycache__/submitMuscatObservation.cpython-39.pyc
lcocommissioning/muscat/__pycache__/submitMuscatObservation.cpython-310.pyc
lcocommissioning/muscat/__pycache__/submitMuscatObservation.cpython-311.pyc
lcocommissioning/nres/__pycache__/__init__.cpython-37.pyc
lcocommissioning/nres/__pycache__/__init__.cpython-38.pyc
lcocommissioning/nres/__pycache__/__init__.cpython-39.pyc
lcocommissioning/nres/__pycache__/__init__.cpython-310.pyc
lcocommissioning/nres/__pycache__/__init__.cpython-311.pyc
lcocommissioning/nres/__pycache__/submitNRESObservation.cpython-37.pyc
lcocommissioning/nres/__pycache__/submitNRESObservation.cpython-38.pyc
lcocommissioning/nres/__pycache__/submitNRESObservation.cpython-39.pyc
lcocommissioning/nres/__pycache__/submitNRESObservation.cpython-310.pyc
lcocommissioning/nres/__pycache__/submitNRESObservation.cpython-311.pyc
lcocommissioning/sbig/__pycache__/__init__.cpython-39.pyc
lcocommissioning/sbig/__pycache__/get_sbig_frame.cpython-39.pyc
noisegaincrawler/__pycache__/__init__.cpython-37.pyc
noisegaincrawler/__pycache__/__init__.cpython-38.pyc
noisegaincrawler/__pycache__/__init__.cpython-39.pyc
noisegaincrawler/__pycache__/__init__.cpython-310.pyc
noisegaincrawler/__pycache__/__init__.cpython-311.pyc
noisegaincrawler/__pycache__/analysegainhistory.cpython-37.pyc
noisegaincrawler/__pycache__/analysegainhistory.cpython-38.pyc
noisegaincrawler/__pycache__/analysegainhistory.cpython-39.pyc
noisegaincrawler/__pycache__/analysegainhistory.cpython-310.pyc
noisegaincrawler/__pycache__/analysegainhistory.cpython-311.pyc
noisegaincrawler/__pycache__/crawl_noisegain.cpython-37.pyc
noisegaincrawler/__pycache__/crawl_noisegain.cpython-38.pyc
noisegaincrawler/__pycache__/crawl_noisegain.cpython-39.pyc
noisegaincrawler/__pycache__/crawl_noisegain.cpython-310.pyc
noisegaincrawler/__pycache__/webapp.cpython-37.pyc
nres/focusstack_ogg_clma_0m4c.pdf
nres/lscnrs01-fa09-20230129-0001-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0002-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0003-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0004-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0005-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0006-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0007-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0008-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0009-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0010-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0011-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0012-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0013-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0014-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0015-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0016-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0017-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0018-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0019-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0020-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0021-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0022-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0023-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0024-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0025-w00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0026-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0027-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0028-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0029-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0030-a00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0031-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0032-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0033-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0034-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0035-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0036-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0037-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0038-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0039-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0040-e00exposure_meter.pdf
nres/lscnrs01-fa09-20230129-0041-e00exposure_meter.pdf
